<footer>
    <div class="footer_top">
        <div class="footer_top_container">
        <div class="footer_box1">
            <img src="{{ asset('assets/images/logo.png') }}" alt="logo web développeur">
            <h3>
                Notre limite c'est notre imagination
            </h3>
            <p>
               "L’imagination a mené l’humanité à travers les âges sombres jusqu’à l’état actuel de civilisation. L’imagination a mené Christophe Colomb à découvrir l’Amérique. L’imagination a mené Franklin à découvrir l’électricité."<br><br> Wallace Stevens
            </p>
        </div>
        <div class="footer_box2">
            <h3>
                Johan LEMARCHAND
            </h3>
            <ul>
                <li class="address">Evreux, 27000</li>
                <li class="phone"><a href="tel:+33787953786">(+33) 07 87 95 37 86</a></li>
                <li class="mail"><A href="mailto:johan27000@gmail.com">johan27000@gmail.com</A></li>
            </ul>

        </div>
        </div>
    </div>
        <div class="footer_bottom">
            <div class="footer_bottom_box">
                <a href="">Mentions légales</a>
                <p>Copyrights 2020 &#9400;, Tous droits réservés.</p>
            </div>
        </div>

</footer>