<section class="section_three">
    <div class="section_three_box">
        <div class="section_three_box_one">
            <h2 class="section_three_box_one_title">
                Personnalisation
            </h2>
            <p class="section_three_box_one_paragraphe">
                Ajouter le contenu que vous désirez et qui correspond à vos besoins <br>
                <div class="section_three_box_one_img">
                <ul>
                    <li> personnaliser</li>
                    <li>changer</li>
                    <li>modifier</li>
                </ul>
            </div>
                <span class="box_p">
                    tout est possible
                </span>
            </p>
        </div>
        <div class="section_three_box_two">
            <div id="anim_personalisation">

            </div>
        </div>
    </div>
</section>