<main>
    <section class="section_one">
        <div class="section_one_box_one">
            <div class="section_one_box_one_align">
                <div class="section_one_title">
                    <h1 class="section_one_h1">
                        Votre site <br> à portée de <span class="section_one_link">clics </span>
                    </h1>
                </div>
                <p class="section_one_paragraphe">Faites vous aidez par nos experts pour créer le site dont vous avez toujours rêver.</p>
                <div class="section_one_button_div">
                    <button class="section_one_button">
                        découvrir
                    </button>
                </div>
            </div>


            <img class="section_one_box_two_img" src="{{ asset('assets/images/design_copie.png') }}" alt="">
        </div>

    </section>