<section class="section_two" id="project">
    <div class="section_two_box">
        <div class="section_two_box_one">

            <a href="{{ path('project') }}">
                <div id="anim_explorer">
                </div>
            </a>


        </div>
        <div class="section_two_box_two">
            <h2 class="section_two_box_two_title">Template Design</h2>
            <p class="section_two_box_two_paragraphe">Explorer nos réalisations afin de vous donnez des idées de ce que l'on peut réaliser pour vous</p>
        </div>
    </div>
</section>