<section class="section_Five" id="contact">
    <div class="section_five_container">
        <h2 class="section_five_title">Contactez-nous</h2>

        <form class="section_five_form" action="" method="post">
            <div class="section_five_box_container">
            <div class="section_five_box1">
                <h3 class="section_five_subtitle">Vos coordonnées</h3>
            <div>
                <div>
                    <div class="section_five_radio">
                        <input type="radio" id="Particulier" name="fonction" value="Particulier"
                                   checked>
                        <label for="Particulier">Particulier</label>
                        <input type="radio" id="Association" name="fonction" value="Association">
                        <label for="Association">Association</label>

                        <input type="radio" id="Société" name="fonction" value="Société">
                        <label for="Société">Société</label>
                    </div>
                    <div class="section_five_input_name">
                        <div class="section_five_input_name_img">
                            <img src="{{ asset('assets/images/login.png') }}" alt="">
                        </div>
                        <div class="section_five_input_name_input">
                        <label>
                                <input type="text" name="nom" placeholder="Nom / Prénom"> <br>
                        </label>
                    </div>
                    </div>
                    <div class="section_five_input_mail">
                        <div class="section_five_input_mail_img">
                            <img src="{{ asset('assets/images/mail.png') }}" alt="">
                        </div>
                        <div class="section_five_input_mail_input">
                    <label>
                        <input name="email" type="email" placeholder="Email"> <br>
                    </label>
                        </div>
                    </div>
                    <div class="section_five_input_phone">
                        <div class="section_five_input_phone_img">
                            <img src="{{ asset('assets/images/phone.png') }}" alt="">
                        </div>
                        <div class="section_five_input_phone_input">
                    <label>
                        <input name="phone" type="tel" placeholder="Téléphone">
                    </label>
                        </div>
                    </div>
                    <div class="section_five_acceptation">
                        <label>
                            <input name="validation" class="section_five_acceptation_checkbox" type="checkbox">
                        </label>
                        <p class="section_five_acceptation_p">En soumettant ce formulaire, j'accepte que les informations saisies peuvent être
                            utilisées afin de réaliser un devis commercial.</p>
                    </div>
                </div>
            </div>
            </div>
                <div class="section_five_box2">
                <h3 class="section_five_subtitle">Votre projet</h3>
                <div>
                    <p class="section_five_box2_p">Merci de bien vouloir détailler votre projet</p>
                    <div class="section_five_box2_input">
                        <div class="section_five_box2_input_img"></div>
                        <div class="section_five_box2_input_input">
                    <label>
                        <input type="text" name="title" placeholder="Titre de votre projet">
                    </label>
                        </div>
                    </div>

                    <div class="section_five_box2_input_two">
                        <div class="section_five_box2_input_two_img"></div>
                        <div class="section_five_box2_input_two_input">

                        <textarea name="description" placeholder="Description de votre projet"></textarea>

                        </div>
                    </div>
                </div>
                </div>

            </div>
            <button class="section_five_box_container_button" type="submit">Envoyer ma demande de devis</button>
        </form>
    </div>
</section>
</main>