{% extends 'base.html.twig' %}

{% block body %}
    {% include'home/header.html.twig' %}
    <main class="img_construct">
    <img  src="{{ asset('assets/images/page-en-construction.jpg') }}" alt="logo web développeur">
    </main>
    {% include'home/footer.html.twig' %}
{% endblock %}